/* *********************COMMON CLASSES*********************** */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h5{
    color: rgb(3, 3, 134);
    margin-top: 10px;
    margin-bottom: 10px;
}

/* *********************COMMON CLASSES*********************** */

/* *********************Left Part*************************/
.searchPageMain{
    padding-left:10px ;
}
.address, .searchResult{
    margin-left: 5px;
}
.leftPartInSearch{
    min-width:fit-content ;
    width: 20%;
    max-width: 300px;
    border-right: 1px rgb(170, 167, 167) solid;
    padding: 10px;
}
.filterPart h5{
    color: black;
}
.filterPart .close{
background-color: white;
padding: 2px;
}
.filterPart button{
    font-size: 20px;
    color: white;
    background-color: rgb(3, 3, 134);
    border-radius: 10px;
    margin-top:8% ;
    margin-bottom: 8%;
}
.filters{
    margin-top: 10px;
    margin-bottom: 10px;
}
.leftFilters{
        margin-top: 10px;
    margin-bottom: 10px;

}
.plus{
    font-size: 20px;
    font-weight: bold;
    color: rgb(3, 3, 134);
}
.minus{
    display: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(3, 3, 134);

}
.price input{
    width: 100px;
}
.brandImg,.subcategoriesImg{
    height: 70px;
    width:90px;
}
.brandImg img, .subcategoriesImg img{
    width: 100%;
    height: 100%;}

/* *********************Left Part*************************/

/* *********************Right Part*************************/
.rightPartInSearch {
    min-width: fit-content;
    width: 80%;
    max-width: 1200px;
    margin: 45px;
}
.inputVals  input,select{
    font-weight: 300;
    color: rgb(97, 95, 95);
    height: 40px;
    border: 1px rgb(189, 183, 183) solid;
    border-radius: 3px;
}
.rightPartInSearch label{
    font-weight: 500;
}
.searchB {
    padding: 8px;
    border-radius: 3px;
}
/* .leftFilters i{
    margin-bottom: 0px;

} */
.rightFilters label{
    background-color: rgb(241, 238, 238);
    border-radius: 2px;
    padding: 7px;
}

.plusMenu{
    display: none;
    padding: 10px 0px;
}
.inputVals{
    display: flex;
    justify-content: space-between;
}
.allCatDropdown{
    width: 100px; 
    box-sizing: border-box; 
}
.searchResults{
    width: 60%;
}
.allCategories{
    width: 40%;
    margin-left: 20px;
}
.clearButton{
    padding: 10px;
}
/* *********************Right Part*************************/

/* *********************For Responsivness*************************/
@media screen and (max-width:1000px) {
    .plr-S{
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media screen and (max-width:900px) {
    .searchPageMain{
        padding-left: 0px;
    }
    .leftPartInSearch{
        display: none;
    }
    .inputVals{
        display: block;
    }
    .searchResults{
        width: 100%;
        margin-bottom: 20px;
    }
    .allCategories{
        width: 100%;
        margin-left: 0;
    }

    
}

@media screen and (max-width:750px) {
    .rightPartInSearch label{
        margin-left: 0px;
        margin-right: 0px;
        width: 50%;
    }
    .text,.listLabels{
        display: none;
    }
    .inputVals{
        display: block;
    }
}
@media screen and (max-width:450px) {
    .plr-S{
        padding-left: 2px;
        padding-right: 2px;
    }

}
/* *********************For Responsivness*************************/
